/node_modules
/public/hot
/public/reporte.pdf
/public/reporte1.pdf
/public/reporte2.pdf
/public/reporte3.pdf
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
